<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Topic Explorer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <script src="https://d3js.org/d3.v3.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

  <style>
    .link {
      stroke: #049FD9;
      opacity: 0.6;
      stroke-width: 1.5px;
    }

    .circle {
      stroke: #fff;
      opacity: 0.6;
      stroke-width: 1.5px;
    }

    text {
      font: 11px serif;
      opacity: 0.6;
      pointer-events: none;
    }
  </style>
</head>

<body>

  <div id="main-menu" class="container-fluid">

    <div class="input-group">
      <input id="search_term" type="text" class="form-control" placeholder="Search for...">
      <input id="limit_to" type="text" class="form-control" placeholder="Limit To Top (How Many?)...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" id="search">Go!</button>
      </span>
    </div>
  </div>
  <div class="container-fluid text-center">
  <svg id="plot">
</svg>
      </div>
</body>

<script>
var data_url = "http://127.0.0.1:5000/data";
$('#search').on('click', startSearch);

var width = 1920;
var height = 1080;
var graph = {
  "nodes": [],
  "links": []
};
var force = d3.layout.force().size([width, height]).linkDistance(55).charge(-1000);

var svg = d3.select('body').append('svg')
  .attr('width', width)
  .attr('height', height);

function startSearch() {
  var search_term = $("#search_term").prop('value');
  var limit_to = $('#limit_to').prop('value');
  getData(search_term, limit_to, false);
}

function appendSearch(clicked_term) {
  var limit_to = $('#limit_to').prop('value');
  getData(clicked_term, limit_to, true);
}

function getData(term, limit, is_update) {
  $.ajax({
    type: 'GET',
    async: true,
    timeout: 10000,
    url: data_url,
    data: {
      "term": term,
      "limit": limit,
    },
    dataType: 'json',
    beforeSend: function(xhr) {
      xhr.setRequestHeader('Accept', 'application/json, text/javascript, */*; q=0.01');
      xhr.setRequestHeader('Accept-Language', 'en-US,en;q=0.8');
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    },
    success: function(data) {
      var json_data = JSON.stringify(data);
      var search_data = JSON.parse(json_data).data;
      if (is_update == true){
        restart();
      }
      newLinks(search_data);
    }
  });
}

function newLinks(search_data) {
  function updateNodes(d) {
    d.source = graph.nodes[d.source] || (graph.nodes[d.source] = {
      node_text: d.source
    });
    d.target = graph.nodes[d.target] || (graph.nodes[d.target] = {
      node_text: d.target
    });
  }
  for (var i = 0, len = search_data.length; i < len; i++) {
    updateNodes(search_data[i]);
  }
  try {
    graph.links = graph.links.concat(search_data);
  } catch (e) {
    graph.links = search_data;
  }
  console.log(graph.links);
  startForce();
}

function restart() {
  var l = svg.selectAll(".link")
    .data(graph.links, function(d) {
      return d.source + "," + d.target;
    });
  clearLinks(l);
  var n = svg.selectAll(".node")
    .data(graph.nodes, function(d) {
      return d;
    });
  clearNodes(n);
}

function clearNodes(n){
  n.exit().remove();
}

function clearLinks(l) {
  l.exit().remove();
}

function startForce() {
  var links = graph.links;
  var nodes = graph.nodes;

  force.nodes(d3.values(nodes)).links(links)
    .on("tick", tick)
    .start();

  var link = svg.selectAll(".link")
    .data(force.links())
    .enter().append("line")
    .attr("class", "link");

  var node = svg.selectAll(".node")
    .data(force.nodes())
    .enter().append("g")
    .attr("class", "node")

    .on("mouseover", mouseover)
    .on("mouseout", mouseout)
    .on("click", click)
    .on("dblclick", dblclick)
    .call(force.drag);

  node.append("circle")
    .attr("r", 14)
    .style("fill", "#004BAF");


  node.append("text")
    .attr("x", 14)
    .attr("dy", ".35em")
    .style("fill", "#333")
    .text(function(d) {
      return d.node_text;
    });

  function tick() {
    link.attr("x1", function(d) {
        return d.source.x;
      })
      .attr("y1", function(d) {
        return d.source.y;
      })
      .attr("x2", function(d) {
        return d.target.x;
      })
      .attr("y2", function(d) {
        return d.target.y;
      });

    node.attr("transform", function(d) {
      return "translate(" + d.x + "," + d.y + ")";
    });
  }

  function mouseover() {
    d3.select(this).select("circle").transition()
      .duration(750)
      .attr("r", 16);
  }

  function mouseout() {
    d3.select(this).select("circle").transition()
      .duration(750)
      .attr("r", 12);
  }
  // action to take on mouse click
  function click() {
    d3.select(this).select("text").transition()
      .duration(750)
      .attr("x", 22)
      .style("stroke-width", ".5px")
      .style("opacity", 1)
      .style("fill", "#E34A33")
      .style("font", "17.5px serif");
    d3.select(this).select("circle").transition()
      .duration(750)
      .style("fill", "#049FD9")
      .attr("r", 16);
    var a = d3.select(this).select("text")[0]["0"].textContent;
    appendSearch(a);



  }

  // action to take on mouse double click
  function dblclick() {
    d3.select(this).select("circle").transition()
      .duration(750)
      .attr("r", 12)
      .style("fill", "#E34A33");
    d3.select(this).select("text").transition()
      .duration(750)
      .attr("x", 14)
      .style("stroke", "none")
      .style("fill", "#049FD9")
      .style("stroke", "none")
      .style("opacity", 0.6)
      .style("font", "14px serif");
  }
}


</script>
