<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Topic Explorer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <script src="https://d3js.org/d3.v3.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

  <style>
    .link {
      stroke: #049FD9;
      opacity: 0.6;
      stroke-width: 1.5px;
    }

    .circle {
      stroke: #fff;
      opacity: 0.6;
      stroke-width: 1.5px;
    }

    text {
      font: 11px serif;
      opacity: 0.6;
      pointer-events: none;
    }
  </style>
</head>

<body>

{% block content %}
{% endblock %}

</body>
