<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Topic Explorer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <script src="https://d3js.org/d3.v3.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

  <style>
    .link {
      stroke: #049FD9;
      opacity: 0.6;
      stroke-width: 1.5px;
    }

    .circle {
      stroke: #fff;
      opacity: 0.6;
      stroke-width: 1.5px;
    }

    text {
      font: 11px serif;
      opacity: 0.6;
      pointer-events: none;
    }
  </style>
</head>

<body>

  <div id="main-menu" class="container">

    <div class="input-group">
      <input id="search_term" type="text" class="form-control" placeholder="Search for...">
      <input id="limit_to" type="text" class="form-control" placeholder="Limit To Top (How Many?)...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" id="search">Go!</button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-secondary disabled" type="button" id="reset">Reset!</button>
      </span>
    </div>
  </div>
  <div class="container-fluid text-center">
  <svg id="plot">
</svg>
      </div>
</body>

{% block content %}
{% end block %}
